.nav-bar{
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-title{
    flex-grow: 3;
    display: flex;
    margin-left:10px;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
    color: var(--light);
}
.name-label{
    margin-right: 10px;
    font-size: 18px;
    margin-right: 10px;
}
.nav-op{
    border-left: 2px solid var(--light);
    padding: 0px 10px;
    color: var(--light);  
    font-weight: 700; 
}
.nav-op:hover{
    cursor: pointer;
    color:   var(--backgroundColor);
    background-color: var(--light);
}